/* Text color, background */
$text-gray: #cccccc;

$bg-blue: #1b0042;
$bg-pink: #ff5480;
$bg-gray: #f9f9fb;

/* font size */
$font-size-base: 18.4px; //1.15
$font-size-subheader: 24px;
$font-size-header: 32px;
$font-size-large: 48px;