/* Text color, background */
$text-gray: #cccccc;

$bg-blue: #1b0042;
$bg-pink: #ff5480;
$bg-gray: #f9f9fb;

/* font size */
$font-size-base: 1.15rem;
$font-size-header: 2rem;
$font-size-subheader: 1.5rem;