@import "../../stylesheets/reset";
@import "../../stylesheets/variables";
@import "../../stylesheets/media/768px/768.scss";

.header {
    //background-color: $bg-blue; //Optional style. You must delete when you want to deploy on server
    padding: 0 0 0 $header-body-indent;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &-menu-block {
        display: flex;
    }
}

.menu-block {
    margin: 20px;
}

.search-block {
    margin: 20px;
}

/*style Titchenko*/
.header{
    background-color: #f9f9fb;
    padding: 60px 0px 60px 0px;
}
.header-wrap{
    margin: 0 auto;
    display: inline-flex;

}
.header-menu_item {
    list-style-type: none;
    color: #000000;
    font-family: "Open Sans Semi Bold", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 7px;
    border-radius: 10px;
    margin: 0 30px;
}
.header-menu_item:hover{
    background-color: #ff5480;
    color: #f9f9fb;
}
@media screen and (max-width: 992px){
    .header {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .search-block {
        align-self: flex-end;
        padding-right: 5%;
    }
}


