.footer {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    padding: 45px 0;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.footer-copyright {

    &__text {
        color: #9b9b9b;
        font-family: "Open Sans";
        font-size: 14px;
    }
}